.positive__container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
  }

.positive__item {
    background: var(--color-bg-v);
    padding: 1.3rem;
    border-radius: 2rem;
    border:1px solid transparent;
    transition: var(--transition);
  }
  
  .positive__item:hover {
    border-color: var(--color-pr-v);
    background: transparent;
  }
  
  .positive__header {
    border-radius: 1.5rem;
    overflow: hidden;
  }
  
  .positive__item h4 {
    margin: 1.2rem 0 2rem;
  }

  .positive__text {
    text-align: center;
    margin-bottom: 2rem;
    color:var(--color-light);
    font-size: 1.3rem;
  }