.card {

}
.card__header {
    font-family: Impact, fantasy, sans-serif;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-left: 50%;
}
.card-body {
    text-align: center;
}
form {
    width: 30%;
    margin:auto;
}
.form-input {
    font-size: 16px;
    background-color: aquamarine;
}

.error__message {
    font-family: Impact, fantasy, sans-serif;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-left: 50%;
    color: red;
}
.btn__submit{
    background: #fca311;
    color: black;
    padding: 0.75rem 1.2rem;
    border-radius:0.4rem;
    cursor:pointer;
    width: max-content;
    display: inline-block;
    margin-top:2rem;
    font-family: Impact, fantasy
}
.btn__submit:hover {
    color: white;
    border-color: transparent;
    border: 1px solid whitesmoke;
}
